:root {
  --color-black: #130f2c;
  --color-white: #fff;
  --color-primary: #3b44c0;
  --color-pink: #bf2670;
  --color-light-grey: #eff0f3;
  --color-green: #8dc967;
  --color-dark-grey: #929090;
  --color-smooth-blue: #f2f2ff;
  --color-blue-grey: #c6c6d9;
  --color-orange: #f2af60;
  --font-family: "Open Sans";
  --border-value: 10px;
  --grid-column: 76px;
  --grid-gap: 24px;
}

@media (min-width: 1320px) {
  .hero__slide-title-bolder, .logo--primary {
    font-size: 48px;
  }
}
@media (min-width: 768px) and (max-width: 1320px) {
  .hero__slide-title-bolder, .logo--primary {
    font-size: calc(36px + 12 * ((100vw - 768px) / 552));
  }
}
@media (max-width: 768px) {
  .hero__slide-title-bolder, .logo--primary {
    font-size: 36px;
  }
}

.title {
  font-weight: 600;
}
@media (min-width: 1320px) {
  .title {
    font-size: 36px;
  }
}
@media (min-width: 768px) and (max-width: 1320px) {
  .title {
    font-size: calc(16px + 20 * ((100vw - 768px) / 552));
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 16px;
  }
}

@media (min-width: 1320px) {
  .post__title, .hero__slide-text, .header-top__contacts-wrapper, .upper-text, .section__more, .menu-sublist__link {
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 1320px) {
  .post__title, .hero__slide-text, .header-top__contacts-wrapper, .upper-text, .section__more, .menu-sublist__link {
    font-size: calc(14px + 2 * ((100vw - 768px) / 552));
  }
}
@media (max-width: 768px) {
  .post__title, .hero__slide-text, .header-top__contacts-wrapper, .upper-text, .section__more, .menu-sublist__link {
    font-size: 14px;
  }
}

@media (min-width: 1320px) {
  .text, body {
    font-size: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1320px) {
  .text, body {
    font-size: calc(18px + 2 * ((100vw - 768px) / 552));
  }
}
@media (max-width: 768px) {
  .text, body {
    font-size: 18px;
  }
}

html {
  min-width: 300px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-size: inherit;
  line-height: inherit;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

input {
  vertical-align: middle;
  border: none;
  font: inherit;
  line-height: inherit;
}

input[type=text] {
  line-height: 36px\9 ;
}

img {
  vertical-align: middle;
  min-width: 0;
  max-width: 100%;
}

a {
  line-height: inherit;
  text-decoration: none;
  color: inherit;
}

input::-moz-placeholder {
  color: inherit;
  background-color: inherit;
}

input:-ms-input-placeholder {
  color: inherit;
  background-color: inherit;
}

input::placeholder {
  color: inherit;
  background-color: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

polyline,
svg path {
  fill: inherit;
  stroke: inherit;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.site-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100vh;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.hide-scroll {
  overflow: hidden;
  padding-right: var(--scrollbar-width);
}

.is-hidden {
  display: none !important;
}

/** Show item for desktop only and hide for mobile */
.for-desktop {
  display: none;
}

@media (min-width: 1025px) {
  .for-desktop {
    display: initial;
  }
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: none;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

body {
  position: relative;
  overflow-x: hidden;
  margin: 0;
  height: 100%;
  font-family: var(--font-family), sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  color: var(--color-black);
  background-color: var(--color-white);
}

small {
  font-size: 12px;
  text-transform: uppercase;
}

.container {
  --content-offset: 15px;
  position: relative;
  margin: 0 auto;
  padding: 0 var(--content-offset);
  max-width: calc(1176px + 2 * var(--content-offset));
}

.button {
  position: relative;
  display: inline-block;
  border: 1px solid var(--color-primary);
  padding: 12px 18px;
  font-size: 16px;
  line-height: 1.333;
  text-align: center;
  color: var(--color-smooth-blue);
  background-color: var(--color-primary);
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}
.button--nofilled {
  color: var(--color-primary);
  background-color: transparent;
  transition: border-radius 0.2s ease-out;
}
@media (any-hover: hover) {
  .button--nofilled:hover {
    border-radius: 15px 0;
  }
}
@media (any-hover: hover) {
  .button:hover {
    color: var(--color-primary);
    background-color: transparent;
  }
}

.burger {
  --burger-width: 40px;
  --burger-height: 20px;
  --burger-color: rgba(19, 15, 44, 0.7);
  position: relative;
  z-index: 5;
  position: relative;
  width: var(--burger-width);
  height: var(--burger-height);
  color: var(--burger-color);
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  left: 0;
  border-radius: 10px;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  will-change: transform;
}
.burger::before {
  top: 0;
}
.burger::after {
  top: calc(100% - 2px);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}
.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  border-radius: 10px;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transform: translateY(-50%);
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}
.burger.active::before {
  top: 50%;
  transform: rotate(45deg);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}
.burger.active::after {
  top: 50%;
  transform: rotate(-45deg);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}
.burger.active .burger__line {
  transform: translateX(-100%) scale(0.01);
  transition: transform 0.3s ease-in-out;
}

.cart-button {
  position: relative;
}
.cart-button__quantity {
  position: absolute;
  right: -12px;
  top: -6px;
  border-radius: var(--border-value);
  padding: 1px 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.333;
  color: var(--color-white);
  background-color: var(--color-red);
}

.input {
  display: block;
  padding: 10px 20px;
  max-width: 100%;
  font-size: 14px;
  background-color: var(--color-light-grey);
}
.input::-moz-placeholder {
  color: var(--color-dark-grey);
}
.input:-ms-input-placeholder {
  color: var(--color-dark-grey);
}
.input::placeholder {
  color: var(--color-dark-grey);
}

.input-label {
  position: relative;
  display: block;
  width: 100%;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.menu__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 16px;
  padding: 5px 0;
}
.menu__item:last-child {
  margin-right: 0;
}
@media (any-hover: hover) {
  .menu__item:hover .menu__item-arrow {
    transform: rotate(180deg);
  }
  .menu__item:hover .menu__sublist {
    opacity: 1;
    transform: translate(0, 0);
    pointer-events: all;
  }
}
.menu__link {
  border-bottom: 0.5px solid transparent;
  font-weight: 600;
  color: var(--color-black);
  transition: color 0.2s ease-in, border-color 0.2s ease-in-out;
}
@media (any-hover: hover) {
  .menu__link:hover {
    border-bottom-color: #3b44c0;
    color: var(--color-primary);
  }
}
.menu__item-arrow {
  position: relative;
  display: none;
  vertical-align: middle;
  margin-left: 1px;
  width: 14px;
  height: 7px;
  background-image: url("../img/svg/arrow.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.2s ease-in-out;
}
.menu__item-arrow[aria-expanded=true] {
  transform: rotate(180deg);
}
.menu-sublist {
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 10;
  flex: 1 1 100%;
  padding: 20px 30px;
  width: 215px;
  box-shadow: 0 3px 4px 1px rgba(59, 68, 192, 0.25);
  background-color: #f9f9fa;
  opacity: 0;
  transform: translate(5px, 5px);
  transition: max-height 0.3s ease-in-out, transform 0.3s ease-in, opacity 0.3s ease-in;
  will-change: max-height;
  pointer-events: none;
}
.menu-sublist__item {
  margin-bottom: 10px;
}
.menu-sublist__item:last-child {
  margin-bottom: 0;
}
.menu-sublist__link {
  transition: color 0.2s ease-in;
}
.menu-sublist__link-count {
  margin-left: 7px;
}
@media (any-hover: hover) {
  .menu-sublist__link:hover {
    color: var(--color-primary);
  }
  .menu-sublist__link:hover .menu-sublist__link-count {
    color: var(--color-black);
  }
}
.menu-sublist.is-active {
  opacity: 1;
  transform: translate(0, 0);
  pointer-events: all;
}

@media (max-width: 1024px) {
  .menu {
    position: fixed;
    left: -100%;
    top: 0;
    bottom: 0;
    flex-direction: column;
    align-items: flex-start;
    overflow: auto;
    padding: var(--header-height) var(--content-offset) 20px;
    width: 100%;
    max-height: 100vh;
    background-color: var(--color-white);
    opacity: 0;
    transition: left 0.4s ease, opacity 0.3s ease;
  }
  .menu__burger {
    display: initial;
  }
  .menu__list {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    padding: 20px 0;
    width: 100%;
    height: 100%;
  }
  .menu__item {
    position: relative;
    margin-right: 0;
    padding: 0;
    width: 100%;
  }
  .menu__item-arrow {
    display: inline-block;
    width: 20px;
    height: 20px;
  }
  .menu__item:last-child {
    margin-bottom: 0;
  }
  .menu__link {
    display: inline-block;
    flex: 1 1 auto;
    text-transform: uppercase;
  }
}
@media (max-width: 1024px) and (min-width: 1920px) {
  .menu__link {
    font-size: 16px;
  }
}
@media (max-width: 1024px) and (min-width: 576px) and (max-width: 1920px) {
  .menu__link {
    font-size: calc(24px + -8 * ((100vw - 576px) / 1344));
  }
}
@media (max-width: 1024px) and (max-width: 576px) {
  .menu__link {
    font-size: 24px;
  }
}
@media (max-width: 1024px) {
  .menu-sublist {
    position: static;
    overflow: hidden;
    margin: 10px 0;
    padding: 10px;
    max-width: 100%;
    max-height: 0;
    box-shadow: none;
    transform: translate(0, 0);
  }
}
@media (max-width: 1024px) {
  .menu-sublist__link {
    font-size: 20px;
    text-transform: uppercase;
    color: rgba(var(--color-primary-rgb), 0.8);
  }
}
@media (max-width: 1024px) {
  .menu.is-active {
    left: 0;
    opacity: 1;
  }
}
@media (max-width: 1024px) {
  body.hide-scroll {
    overflow: hidden;
    padding-right: var(--scrollbar-width);
  }
}
.search-form {
  position: relative;
  z-index: 5;
  width: 100%;
}
.search-form__label {
  position: relative;
  display: block;
  width: 100%;
}
.search-form__input {
  padding: 10px 62px 10px 20px;
  width: 100%;
}
.search-form__button {
  position: absolute;
  right: 27px;
  top: 50%;
  padding: 5px;
  width: 25px;
  height: 25px;
  background-image: url("../img/svg/search.svg");
  background-position: center;
  background-repeat: no-repeat;
  transform: translateY(-50%);
}

.cart {
  position: relative;
  z-index: 5;
  display: inline-flex;
  flex-shrink: 0;
  align-items: flex-end;
}
.cart::before {
  content: "";
  margin: 5px;
  width: 26px;
  height: 30px;
  background-image: url("../img/svg/cart.svg");
  background-position: center;
  background-size: cover;
}
.cart__quantity {
  position: absolute;
  left: 19px;
  top: 0;
  border-radius: var(--border-value);
  padding: 1px 10px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.333;
  color: var(--color-white);
  background-color: var(--color-primary);
}
.cart__price {
  margin-bottom: 5px;
  font-size: 14px;
}
@media (max-width: 420px) {
  .cart__price {
    display: none;
  }
  .cart__quantity {
    left: 10px;
  }
}

.stepper {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 30px;
}
.stepper__counter {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  border-top: 1px solid rgba(198, 198, 217, 0.5);
  border-bottom: 1px solid rgba(198, 198, 217, 0.5);
  padding: 5px 15px;
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
}
.stepper__counter::-webkit-outer-spin-button, .stepper__counter::-webkit-inner-spin-button {
  display: none;
}
.stepper__down::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  display: inline-block;
  border-radius: 5px;
  width: 17px;
  height: 2px;
  background-color: currentColor;
  transform: translate(-50%, -50%);
}
.stepper__up::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  display: inline-block;
  border-radius: 5px;
  width: 17px;
  height: 2px;
  background-color: currentColor;
  transform: translate(-50%, -50%);
}
.stepper__up::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  display: inline-block;
  border-radius: 5px;
  width: 2px;
  height: 17px;
  background-color: currentColor;
  transform: translate(-50%, -50%);
}
.stepper__label {
  height: 100%;
  line-height: 1;
}
.stepper__up, .stepper__down {
  position: relative;
  border: 1px solid rgba(198, 198, 217, 0.5);
  width: 33px;
  height: 30px;
  background-color: var(--color-white);
  transition: border-color 0.15s ease-in-out;
}
@media (any-hover: hover) {
  .stepper__up:hover, .stepper__down:hover {
    border-color: var(--color-black);
  }
}

.card {
  position: relative;
  border: 1px solid var(--color-blue-grey);
  height: 100%;
  font-size: 14px;
}
.card__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 381px;
}
.card__image {
  display: block;
  margin: 0 auto 10px;
  width: 174px;
  height: 174px;
}
.card__title {
  margin: 0 0 10px 10px;
  font-weight: 600;
  font-size: inherit;
}
.card__footer {
  display: inline-flex;
  flex-wrap: wrap;
  margin-top: auto;
  padding: 8px;
}
.card__prices {
  margin-right: auto;
  margin-bottom: 15px;
  padding-right: 15px;
}
.card__current-price {
  margin-right: 10px;
  font-weight: 600;
}
.card__old-price {
  font-size: 12px;
  -webkit-text-decoration-line: line-through;
  text-decoration-line: line-through;
  color: rgba(19, 15, 44, 0.5);
}
.card__actions {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.card__favorite {
  margin-left: 15px;
}
.card__tags {
  position: absolute;
  left: 10px;
  top: 10px;
  display: flex;
  flex-wrap: wrap;
  margin: -3px;
  max-width: 150px;
}
.card__tag {
  margin: 3px;
  border-radius: 5px;
  padding: 3px 6px;
}
.card__tag:last-child {
  margin-right: 0;
}
.card__tag--sale {
  background-color: var(--color-orange);
}
.card__tag--new {
  background-color: var(--color-green);
}
.card__button {
  width: 100%;
  font-weight: 600;
  font-size: 12px;
  color: var(--color-smooth-blue);
}
.card__favorite-icon {
  fill: none;
  stroke: var(--color-black);
  stroke-width: 20;
  transition: fill 0.2s ease-in-out, stroke 0.19s ease-in-out;
}
.card__favorite.is-active .card__favorite-icon {
  fill: var(--color-pink);
  stroke: var(--color-pink);
}

.newsletter__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 14px;
}
.newsletter__form {
  display: inline-grid;
  grid-gap: 20px;
  grid-template-columns: minmax(200px, 279px) auto;
}
.newsletter__form-input {
  width: 100%;
}
.newsletter__form-input::-moz-placeholder {
  color: #252222;
}
.newsletter__form-input:-ms-input-placeholder {
  color: #252222;
}
.newsletter__form-input::placeholder {
  color: #252222;
}
.newsletter__form-button {
  padding: 10px 28px;
}
@media (max-width: 420px) {
  .newsletter__form {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.breadcrumbs {
  margin: 25px 0;
}

.breadcrumbs__list {
  display: flex;
  align-items: center;
}

.breadcrumbs__item {
  display: inline-block;
  font-size: 12px;
}

.breadcrumbs__item:not(:last-child) {
  color: var(--color-textgray);
}

.breadcrumbs__item:not(:last-child)::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin: 0 6px;
  width: 8px;
  height: 14px;
  background-image: url("../img/sprite.svg#arrow-right");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.custom-checkbox {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding-left: 30px;
}
.custom-checkbox__text {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.custom-checkbox__input {
  position: absolute;
  left: -100px;
}
.custom-checkbox__input:checked + .custom-checkbox__box {
  background-image: url("../img/svg/check.svg");
  background-position: center;
  background-size: 12px 13px;
  background-repeat: no-repeat;
  background-color: var(--color-primary);
}
.custom-checkbox__input:checked + .custom-checkbox__box::before {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1, 1);
  transition-delay: 0.3s;
}
.custom-checkbox__label {
  font-weight: 600;
  font-size: 16px;
  line-height: normal;
  cursor: pointer;
}
.custom-checkbox__box {
  position: absolute;
  left: 0;
  border: 1px solid var(--color-blue-grey);
  width: 20px;
  height: 20px;
  background-color: var(--color-white);
  transition: transform 0.3s;
}
.custom-checkbox__box::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  color: #fff;
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.1, 1.1);
}

.title {
  position: relative;
  margin: 0;
  margin-bottom: 25px;
  max-width: calc(4 * (var(--grid-column) + var(--grid-gap)));
}

.text {
  margin: 0;
}

.--hover-underline {
  position: relative;
  transition: color 0.15s ease-in-out;
}
.--hover-underline::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 1px;
  width: 0;
  height: 1px;
  background: currentColor;
  transition: width 0.25s cubic-bezier(1, 0.54, 0.04, 0.61);
}
@media (any-hover: hover) {
  .--hover-underline:hover::before {
    left: 0;
    width: 100%;
  }
}

.discount {
  border-radius: var(--border-value);
  padding: 4px 14px;
  font-weight: 700;
  font-size: 14px;
  color: var(--color-white);
  background-color: var(--color-red);
}

.link {
  display: inline-block;
  border: 1px solid currentColor;
  padding: 10px 40px;
  font-size: 16px;
  line-height: 1.333;
  text-align: center;
  transition: border-radius 0.2s ease-out;
}
@media (any-hover: hover) {
  .link:hover {
    border-radius: 15px 0;
  }
}

.logo {
  position: relative;
  z-index: 5;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  color: var(--color-white);
}
.logo--primary {
  color: var(--color-primary);
}

@media (min-width: 1320px) {
  .section {
    margin-bottom: 100px;
  }
}
@media (min-width: 576px) and (max-width: 1320px) {
  .section {
    margin-bottom: calc(50px + 50 * ((100vw - 576px) / 744));
  }
}
@media (max-width: 576px) {
  .section {
    margin-bottom: 50px;
  }
}

.section__header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0 0 25px;
}

.section__title {
  margin-bottom: 0;
}

.section__more {
  display: inline-block;
  font-weight: 600;
}
.section__more::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-left: 4px;
  width: 24px;
  height: 24px;
  background-image: url("../img/sprite.svg#arrow-right");
  background-position: center;
  background-size: cover;
}

.upper-text {
  top: -0.9em;
  margin-left: 9px;
  font-weight: 600;
  color: rgba(19, 15, 44, 0.5);
}

.products__slider {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.products__slider-wrapper {
  display: flex;
}
.products__slide {
  flex: 1 0 auto;
}
.products__slider-pagination {
  display: inline-flex;
  align-self: flex-end;
  margin-top: 25px;
  margin-bottom: 10px;
  width: auto !important;
  max-width: 100%;
  background-color: var(--color-blue-grey);
}
.products__slider-bullet {
  width: 57px;
  height: 3px;
  max-width: 100%;
  background-color: var(--color-grey);
  transition: background-color 0.2s ease-in-out;
}
.products__slider-bullet--active {
  background-color: var(--color-primary);
}
.products__slider-navigation {
  align-self: flex-end;
  margin-bottom: 25px;
  line-height: 0;
}
.products__slider-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  stroke: var(--color-black);
  stroke-width: 0.5;
  transition: stroke-width 0.2s ease-in-out;
}
.products__slider-button-prev {
  margin-right: 18px;
}
.products__slider-button-disabled {
  stroke-width: 0;
}

.header {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  background-color: var(--color-white);
  transition: background-color 0.3s ease-in-out;
}
.header__cart {
  position: relative;
  z-index: 5;
  margin-right: 50px;
}
.header-top {
  position: relative;
  z-index: 6;
  border-bottom: 0.5px solid #c6c6d9;
  padding-bottom: 20px;
}
@media (min-width: 1320px) {
  .header-top {
    padding-top: 46px;
  }
}
@media (min-width: 576px) and (max-width: 1320px) {
  .header-top {
    padding-top: calc(20px + 26 * ((100vw - 576px) / 744));
  }
}
@media (max-width: 576px) {
  .header-top {
    padding-top: 20px;
  }
}
@media (min-width: 1320px) {
  .header-top {
    font-size: 20px;
  }
}
@media (min-width: 320px) and (max-width: 1320px) {
  .header-top {
    font-size: calc(14px + 6 * ((100vw - 320px) / 1000));
  }
}
@media (max-width: 320px) {
  .header-top {
    font-size: 14px;
  }
}
.header-top__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header-top__links {
  margin-right: 15px;
}
.header-main {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header-main__right {
  display: flex;
  flex: 1 1 100%;
  align-items: center;
}
.header-main__login {
  position: relative;
  z-index: 5;
  display: inline-block;
  flex: 0 0 24px;
  margin-right: 20px;
  width: 24px;
  height: 30px;
  background-image: url("../img/svg/user.svg");
  background-size: cover;
}
.header-top__link {
  transition: color 0.2s ease-in;
}
@media (min-width: 1320px) {
  .header-top__link {
    margin-right: 47px;
  }
}
@media (min-width: 576px) and (max-width: 1320px) {
  .header-top__link {
    margin-right: calc(20px + 27 * ((100vw - 576px) / 744));
  }
}
@media (max-width: 576px) {
  .header-top__link {
    margin-right: 20px;
  }
}
.header-top__link:last-child {
  margin-right: 0;
}
@media (any-hover: hover) {
  .header-top__link:hover {
    color: var(--color-primary);
  }
}
.header-top__location {
  position: relative;
  display: inline-block;
  margin-left: 26px;
  padding: 0 5px 14px;
  cursor: pointer;
}
@media (min-width: 1320px) {
  .header-top__location {
    margin-right: 46px;
  }
}
@media (min-width: 576px) and (max-width: 1320px) {
  .header-top__location {
    margin-right: calc(20px + 26 * ((100vw - 576px) / 744));
  }
}
@media (max-width: 576px) {
  .header-top__location {
    margin-right: 20px;
  }
}
.header-top__location::before {
  content: "";
  position: absolute;
  left: -26px;
  top: -7px;
  margin: 5px;
  width: 21px;
  height: 30px;
  background-image: url("../img/svg/location.svg");
  background-position: center;
  background-size: cover;
}
.header-top__location::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  border-bottom: 1px dashed var(--color-primary);
  width: 100%;
  height: 1px;
}
.header-top__contacts {
  position: relative;
  display: inline-block;
  margin-right: 33px;
  padding: 0 5px 14px;
  cursor: pointer;
}
.header-top__contacts::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  border-bottom: 1px dashed var(--color-primary);
  width: 100%;
  height: 1px;
}
.header-top__contacts::after {
  content: "";
  position: absolute;
  right: -33px;
  top: -7px;
  margin: 5px 0 5px 5px;
  width: 28px;
  height: 30px;
  background-image: url("../img/svg/contacts.svg");
  background-position: center;
  background-size: cover;
}
.header-top__contacts-wrapper {
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  width: 245px;
  box-shadow: 0 3px 4px 1px rgba(59, 68, 192, 0.25);
  background: #f9f9fa;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.header-top__contacts-item {
  margin-bottom: 20px;
}
.header-top__contacts-item:last-child {
  margin-bottom: 0;
}
.header-top__contacts-schedule {
  display: block;
  margin-bottom: 4px;
}
.header-top__contacts-schedule small {
  margin-right: 9px;
}
.header-top__contacts-schedule:last-child {
  margin-bottom: 0;
}
.header-top__contacts-tel {
  display: block;
  margin-bottom: 4px;
}
.header-top__contacts-tel small {
  margin-left: 9px;
}
.header-top__contacts-tel:last-child {
  margin-bottom: 0;
}
@media (any-hover: hover) {
  .header-top__contacts-tel:hover {
    text-decoration: underline;
  }
}
.header-top__contacts-mail {
  color: var(--color-primary);
}
@media (any-hover: hover) {
  .header-top__contacts-mail:hover {
    text-decoration: underline;
  }
}
@media (any-hover: hover) {
  .header-top__contacts:hover .header-top__contacts-wrapper {
    opacity: 1;
    visibility: visible;
  }
}
.header__menu {
  margin: 30px 0;
}
@media (max-width: 1024px) {
  .header__menu {
    margin: 0;
  }
}
.header-main__left {
  display: flex;
  align-items: flex-end;
}
@media (min-width: 1320px) {
  .header-main__left {
    margin-right: 88px;
  }
}
@media (min-width: 576px) and (max-width: 1320px) {
  .header-main__left {
    margin-right: calc(20px + 68 * ((100vw - 576px) / 744));
  }
}
@media (max-width: 576px) {
  .header-main__left {
    margin-right: 20px;
  }
}
.header-main__form {
  flex: 1 1 100%;
}
@media (min-width: 1320px) {
  .header-main__form {
    margin-right: 36px;
  }
}
@media (min-width: 576px) and (max-width: 1320px) {
  .header-main__form {
    margin-right: calc(20px + 16 * ((100vw - 576px) / 744));
  }
}
@media (max-width: 576px) {
  .header-main__form {
    margin-right: 20px;
  }
}
.header__burger {
  margin-right: 59px;
  margin-bottom: 7px;
}
@media (max-width: 1024px) {
  .header::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 4;
    background-color: var(--color-white);
  }
}
@media (max-width: 768px) {
  .header-top__contacts-trigger {
    display: none;
  }
  .header-top__contacts::before {
    display: none;
  }
  .header-top__contacts::after {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (max-width: 640px) {
  .header-main {
    flex-direction: column;
  }
  .header-main__left {
    margin-bottom: 15px;
  }
  .header-top__location::before {
    margin-left: 0;
  }
}
@media (max-width: 480px) {
  .header-top__wrapper {
    flex-direction: column;
  }
  .header-top__links {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .header-top__contacts-trigger {
    display: initial;
  }
  .header-top__contacts::before {
    display: initial;
  }
  .header-top__contacts::after {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.hero {
  position: relative;
  z-index: 2;
}
.hero__wrapper {
  position: relative;
  margin-top: 20px;
  background-color: var(--color-primary);
}
.hero__wrapper::before {
  content: "";
  position: absolute;
  right: 8%;
  z-index: 0;
  display: inline-block;
  width: 1234px;
  height: 100%;
  background-image: url("../img/hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero__wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, #170f28 8.13%, rgba(0, 0, 0, 0) 10.31%), linear-gradient(90deg, #373dab 38.11%, rgba(72, 82, 176, 0) 47.36%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 576px) {
  .hero__wrapper::after {
    background: linear-gradient(270deg, #170f28 8.13%, rgba(0, 0, 0, 0) 10.31%), linear-gradient(90deg, #373dab 18.11%, rgba(72, 82, 176, 0) 27.36%);
  }
}
.hero__slider {
  position: relative;
  z-index: 5;
  overflow: hidden;
}
.hero__slider-wrapper {
  display: flex;
}
@media (min-width: 1320px) {
  .hero__slider-wrapper {
    padding-top: 100px;
  }
}
@media (min-width: 576px) and (max-width: 1320px) {
  .hero__slider-wrapper {
    padding-top: calc(30px + 70 * ((100vw - 576px) / 744));
  }
}
@media (max-width: 576px) {
  .hero__slider-wrapper {
    padding-top: 30px;
  }
}
@media (min-width: 1320px) {
  .hero__slider-wrapper {
    padding-bottom: 150px;
  }
}
@media (min-width: 576px) and (max-width: 1320px) {
  .hero__slider-wrapper {
    padding-bottom: calc(50px + 100 * ((100vw - 576px) / 744));
  }
}
@media (max-width: 576px) {
  .hero__slider-wrapper {
    padding-bottom: 50px;
  }
}
.hero__slider-pagination {
  position: absolute;
  left: initial !important;
  bottom: 20px !important;
  display: inline-flex;
  flex-grow: 0;
  align-items: center;
  justify-content: center;
  width: auto !important;
  max-width: 100%;
  background-color: var(--color-blue-grey);
}
.hero__slider-bullet {
  width: 57px;
  height: 3px;
  max-width: 100%;
  background-color: var(--color-grey);
  transition: background-color 0.2s ease-in-out;
}
.hero__slider-bullet--active {
  background-color: var(--color-white);
}
.hero__slide {
  position: relative;
  z-index: 10;
  flex: 1 0 100%;
  color: var(--color-smooth-blue);
}
.hero__slide-title {
  margin: 0;
  margin-bottom: 55px;
  max-width: 310px;
  font-weight: 600;
}
.hero__slide-title-bolder {
  display: block;
  margin-bottom: 30px;
  font-weight: 700;
}
.hero__slide-text {
  margin-bottom: 40px;
  max-width: calc(3 * var(--grid-column) + 2 * var(--grid-gap));
}

.services__item {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.services__item:last-child {
  margin-bottom: 0;
}
.services__item:nth-child(even) {
  flex-direction: row-reverse;
}
.services__item:nth-child(even) .services__item-image {
  margin-right: 0;
  margin-left: 24px;
}
.services__item-image {
  flex: 1 0 50%;
  margin-right: 24px;
  border: 1px solid #e7e7e8;
  border-radius: 5px;
  max-width: 577px;
  -o-object-fit: cover;
  object-fit: cover;
}
.services__item-content {
  flex: 1 1 100%;
  max-width: 560px;
}
.services__item-title {
  margin: 0 0 15px;
}
@media (min-width: 1320px) {
  .services__item-title {
    font-size: 24px;
  }
}
@media (min-width: 576px) and (max-width: 1320px) {
  .services__item-title {
    font-size: calc(16px + 8 * ((100vw - 576px) / 744));
  }
}
@media (max-width: 576px) {
  .services__item-title {
    font-size: 16px;
  }
}
.services__item-text {
  margin-bottom: 15px;
}
@media (min-width: 1320px) {
  .services__item-text {
    font-size: 18px;
  }
}
@media (min-width: 576px) and (max-width: 1320px) {
  .services__item-text {
    font-size: calc(16px + 2 * ((100vw - 576px) / 744));
  }
}
@media (max-width: 576px) {
  .services__item-text {
    font-size: 16px;
  }
}
.services__item-price {
  display: block;
  margin-bottom: calc(2 * 15px);
  font-weight: 600;
}
@media (max-width: 768px) {
  .services__item {
    flex-direction: column;
  }
  .services__item:nth-child(even) {
    flex-direction: column;
  }
  .services__item:nth-child(even) .services__item-image {
    margin-left: 0;
  }
  .services__item-image {
    margin-right: 0;
    margin-bottom: 15px;
    width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 768px) and (min-width: 768px) {
  .services__item-image {
    max-height: 300px;
  }
}
@media (max-width: 768px) and (min-width: 420px) and (max-width: 768px) {
  .services__item-image {
    max-height: calc(220px + 80 * ((100vw - 420px) / 348));
  }
}
@media (max-width: 768px) and (max-width: 420px) {
  .services__item-image {
    max-height: 220px;
  }
}

.promotions__items {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 1fr;
  color: var(--color-white);
}
.promotions__item {
  position: relative;
  height: 270px;
  max-height: 100%;
}
.promotions__compare {
  padding: 44px 60px;
  background-image: linear-gradient(0deg, rgba(141, 201, 103, 0.2), rgba(141, 201, 103, 0.2)), url("../img/promotions/promo-1.jpg");
  background-position: right center;
  background-size: cover;
  background-repeat: no-repeat;
}
.promotions__sales {
  display: flex;
  align-items: center;
  padding: 27px 43px;
  background: radial-gradient(75.38% 112.44% at 50.09% 4.44%, #eec79a 0%, #d8a160 68.36%, #b0824b 100%);
}
.promotions__sales .promotions__item-title {
  margin-bottom: 0;
}
.promotions__image {
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 0;
  width: 290px;
  height: 230px;
  transform: translateY(-50%);
}
.promotions__item-title {
  position: relative;
  z-index: 1;
  flex: 0 1 50%;
  margin: 0 0 24px;
}
@media (min-width: 1320px) {
  .promotions__item-title {
    font-size: 24px;
  }
}
@media (min-width: 576px) and (max-width: 1320px) {
  .promotions__item-title {
    font-size: calc(16px + 8 * ((100vw - 576px) / 744));
  }
}
@media (max-width: 576px) {
  .promotions__item-title {
    font-size: 16px;
  }
}
.promotions__item-title span {
  display: block;
  margin-bottom: 10px;
}
@media (min-width: 1320px) {
  .promotions__item-title span {
    font-size: 72px;
  }
}
@media (min-width: 576px) and (max-width: 1320px) {
  .promotions__item-title span {
    font-size: calc(36px + 36 * ((100vw - 576px) / 744));
  }
}
@media (max-width: 576px) {
  .promotions__item-title span {
    font-size: 36px;
  }
}
.promotions__item-text {
  max-width: 418px;
}
@media (max-width: 768px) {
  .promotions__items {
    grid-template-columns: 1fr;
  }
  .promotions__item {
    padding: 30px;
  }
}

.post {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.post__link {
  display: inline-block;
  width: 100%;
}
.post__date {
  margin-bottom: 20px;
  font-size: 14px;
  color: rgba(19, 15, 44, 0.5);
}
.post__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.post__image {
  margin-bottom: 10px;
  width: 100%;
  max-height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
}
.post__title {
  margin: 0 0 15px;
  max-width: 278px;
  font-weight: 600;
}
.post__text {
  display: -webkit-box;
  overflow: hidden;
  margin-top: auto;
  max-width: 278px;
  font-size: 14px;
  -webkit-text-fill-color: transparent;
  text-overflow: ellipsis;
  background: linear-gradient(180deg, #000 19.27%, #c6c6d9 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.blog__list {
  display: grid;
  grid-gap: 21px;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}

.footer {
  color: var(--color-white);
  background-color: var(--color-black);
}
@media (min-width: 1320px) {
  .footer {
    padding-top: 120px;
  }
}
@media (min-width: 576px) and (max-width: 1320px) {
  .footer {
    padding-top: calc(40px + 80 * ((100vw - 576px) / 744));
  }
}
@media (max-width: 576px) {
  .footer {
    padding-top: 40px;
  }
}
@media (min-width: 1320px) {
  .footer {
    padding-bottom: 120px;
  }
}
@media (min-width: 576px) and (max-width: 1320px) {
  .footer {
    padding-bottom: calc(40px + 80 * ((100vw - 576px) / 744));
  }
}
@media (max-width: 576px) {
  .footer {
    padding-bottom: 40px;
  }
}
.footer-top {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 1320px) {
  .footer-top {
    margin-bottom: 56px;
  }
}
@media (min-width: 576px) and (max-width: 1320px) {
  .footer-top {
    margin-bottom: calc(20px + 36 * ((100vw - 576px) / 744));
  }
}
@media (max-width: 576px) {
  .footer-top {
    margin-bottom: 20px;
  }
}
.footer-top__left {
  flex: 1 0 10%;
  margin-right: 30px;
  min-width: 230px;
}
.footer-top__social {
  display: flex;
  align-items: center;
}
.footer__logo {
  margin-bottom: 5px;
}
.footer-top__description {
  margin: 0;
  margin-bottom: 15px;
  max-width: 222px;
  font-size: 12px;
}
.footer-top__mail {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 14px;
  color: var(--color-primary);
}
.footer-top__social {
  margin-bottom: 30px;
}
.footer-top__social-link {
  margin-right: 15px;
  font-size: 0;
}
.footer-top__social-link:last-child {
  margin-right: 0;
}
.footer-top__cols {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -30px;
}
.footer-top__col {
  margin-top: 30px;
}
@media (min-width: 1320px) {
  .footer-top__col {
    margin-right: 100px;
  }
}
@media (min-width: 1024px) and (max-width: 1320px) {
  .footer-top__col {
    margin-right: calc(30px + 70 * ((100vw - 1024px) / 296));
  }
}
@media (max-width: 1024px) {
  .footer-top__col {
    margin-right: 30px;
  }
}
.footer-top__col-title {
  margin: 0;
  margin-bottom: 15px;
}
.footer-top__col:last-child {
  margin-right: 0;
}
.footer-top__list-item {
  margin-bottom: 10px;
  font-size: 14px;
}
.footer__copy {
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 30px;
  max-width: 451px;
  font-size: 10px;
  color: rgba(242, 242, 255, 0.4);
}
.footer__bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .catalog__filters {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
}
.catalog__filter {
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .catalog__filter {
    margin-bottom: 15px;
  }
}
@media (max-width: 768px) {
  .catalog__filter {
    flex: 1 1 50%;
  }
}
.catalog__filter-list {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
  will-change: max-height;
}
.catalog__filter-button {
  margin-bottom: 13px;
}
@media (min-width: 1320px) {
  .catalog__filter-button {
    font-size: 18px;
  }
}
@media (min-width: 576px) and (max-width: 1320px) {
  .catalog__filter-button {
    font-size: calc(16px + 2 * ((100vw - 576px) / 744));
  }
}
@media (max-width: 576px) {
  .catalog__filter-button {
    font-size: 16px;
  }
}
.catalog__filter-checkbox {
  padding-left: 10px;
}
.catalog__filter-item {
  margin-bottom: 12px;
}
.catalog__filter-item:last-child {
  margin-bottom: 0;
}
.catalog-settings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.catalog-settings__sorting {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.catalog-settings__sorting-label {
  margin-right: 40px;
}
.catalog-settings__sorting-select {
  border: none;
  cursor: pointer;
}
@media (max-width: 768px) {
  .catalog-settings {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .catalog-settings__sorting {
    margin-bottom: 10px;
  }
}
.catalog-selection {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 20px;
  margin-bottom: -10px;
}
.catalog-selection__item {
  display: flex;
  margin-right: 23px;
  margin-bottom: 10px;
}
.catalog-selection__item:last-child {
  margin-right: 0;
}
.catalog-selection__link {
  display: inline-flex;
  align-items: center;
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  padding: 4px 5px 4px 8px;
  height: 100%;
  font-size: 12px;
  line-height: normal;
  white-space: nowrap;
}
.catalog-selection__remove-icon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  width: 15px;
  height: 15px;
  background-image: url("../img/svg/cross.svg");
  background-position: center;
  background-size: 140%;
  background-repeat: no-repeat;
}
.catalog__inner {
  display: flex;
}
@media (max-width: 768px) {
  .catalog__inner {
    flex-wrap: wrap;
  }
}
.catalog__sidebar {
  margin-right: 23px;
}
.catalog__sidebar-title {
  margin: 0;
  margin-bottom: 20px;
}
@media (min-width: 1320px) {
  .catalog__sidebar-title {
    font-size: 36px;
  }
}
@media (min-width: 576px) and (max-width: 1320px) {
  .catalog__sidebar-title {
    font-size: calc(20px + 16 * ((100vw - 576px) / 744));
  }
}
@media (max-width: 576px) {
  .catalog__sidebar-title {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .catalog__sidebar {
    flex: 1 1 100%;
    margin-right: 0;
  }
}
.catalog__main {
  flex: 1 1 auto;
}
.catalog__products {
  display: grid;
  grid-gap: 14px;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}