section.hero.section
   .hero__wrapper
      .container
         .hero__slider
            .hero__slider-wrapper
               - for (var i = 0; i < 3; i++)
                  .hero__slide
                     h2.hero__slide-title
                        strong.hero__slide-title-bolder Скидка 15%
                        | на первый заказ при покупке от 50,00 руб.
                     a.hero__slide-catalog.link(href="catalog.html")
                        | В каталог
            .hero__slider-pagination
