extend ../components/product_slider.pug

block product_vars
   -
      var title = "Новинки";
      var cards = [
         {
            "image_src": "./img/products/product-7.png",
            "title": "Анциструс альбинос золотой",
            "measure": "1&nbsp;шт.",
            "tag_list": [
               {
                  "class": "card__tag--new",
                  "name": "Новинка",
               },
            ],
            "current_price": "3,00 руб.",
            "old_price": "",
         },
         {
            "image_src": "./img/products/product-8.png",
            "title": "Кормушка Barbus 039 диаметр 7&nbsp;см.",
            "measure": "1&nbsp;шт.",
            "tag_list": [
               {
                  "class": "card__tag--new",
                  "name": "Новинка",
               },
            ],
            "current_price": "5,50 руб.",
            "old_price": "",
         },
         {
            "image_src": "./img/products/product-9.png",
            "title": "Улитка Хелена",
            "measure": "1&nbsp;щт.",
            "tag_list": [
               {
                  "class": "card__tag--new",
                  "name": "Новинка",
               },
            ],
            "current_price": "1,30 руб.",
            "old_price": "",
         },
         {
            "image_src": "./img/products/product-10.png",
            "title": "Rikka Нитратоклин <br>",
            "measure": "100&nbsp;мл",
            "tag_list": [
               {
                  "class": "card__tag--new",
                  "name": "Новинка",
               },
            ],
            "current_price": "9,80 руб.",
            "old_price": "",
         },
         {
            "image_src": "./img/products/product-11.png",
            "title": "Светодиодный светильник Barbus LED 021 длина",
            "measure": "26&nbsp;см.",
            "tag_list": [
               {
                  "class": "card__tag--new",
                  "name": "Новинка",
               },
            ],
            "current_price": "75,50 руб.",
            "old_price": "",
         },
         {
            "image_src": "./img/products/product-12.png",
            "title": "Улитка Пагода",
            "measure": "1&nbsp;шт.",
            "tag_list": [
               {
                  "class": "card__tag--new",
                  "name": "Новинка",
               },
            ],
            "current_price": "2,50 руб.",
            "old_price": "",
         },
         {
            "image_src": "./img/products/product-7.png",
            "title": "Анциструс альбинос золотой",
            "measure": "1&nbsp;шт.",
            "tag_list": [
               {
                  "class": "card__tag--new",
                  "name": "Новинка",
               },
            ],
            "current_price": "3,00 руб.",
            "old_price": "",
         },
         {
            "image_src": "./img/products/product-8.png",
            "title": "Кормушка Barbus 039 диаметр 7&nbsp;см.",
            "measure": "1&nbsp;шт.",
            "tag_list": [
               {
                  "class": "card__tag--new",
                  "name": "Новинка",
               },
            ],
            "current_price": "5,50 руб.",
            "old_price": "",
         },
      ];
