.input {
   display: block;
   padding: 10px 20px;
   max-width: 100%;
   font-size: $font-size-small;
   background-color: var(--color-light-grey);

   &::placeholder {
      color: var(--color-dark-grey);
   }
}

.input-label {
   position: relative;
   display: block;
   width: 100%;
}
