article.card
   .card__wrapper
      header.card__header
         img.card__image(src="../img/products/product-1.png" alt="Черный телескоп")
         h3.card__title Черный телескоп 1 шт.
         ul.card__tags
            li.card__tag.card__tag--sale -15%
            li.card__tag.card__tag--new новинка
      footer.card__footer
         .card__prices
            span.card__current-price 8.00 руб.
            span.card__old-price 10,00 руб.
         .card__actions
            include ../components/stepper.pug
            button.card__favorite.btn-reset
               +svg("card__favorite-icon", "heart", "width: 19px; height: 18px;")
         button.card__button.button.btn-reset Добавить в корзину
