nav.breadcrumbs(aria-label="Breadcrumbs")
   .container
      ol.breadcrumbs__list
         li.breadcrumbs__item
            a.breadcrumbs__link(href="#!") Каталог
         li.breadcrumbs__item
            a.breadcrumbs__link(href="#!") Живые обитатели
         li.breadcrumbs__item
            a.breadcrumbs__link(href="#!" aria-current="page") Рыбки
