.newsletter
   h3.newsletter__title Подписаться на рассылку полезных статей и акций
   form.newsletter__form(action="#")
      label.newsletter__form-label.input-label
         span.visually-hidden
            | Введите свою електронную почту
         input.newsletter__form-input.input(placeholder='Электронная почта' name='email' type='mail' required)
      button.newsletter__form-button.button.btn-reset Подписаться
