extends parts/basic/head.pug

block content
   include parts/header.pug
   main.main
      include parts/sections/hero.pug
      include parts/sections/stock.pug
      include parts/sections/services.pug
      include parts/sections/promotions.pug
      include parts/sections/novelties.pug
      include parts/sections/blog.pug
